
*{
  box-sizing: border-box;
}
html, #root{
  height:100%;
  width:100%;
  display:flex;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  width: 100%;
  flex-direction:column;
  align-items:center;
  background:linear-gradient(145deg, rgb(0, 100, 109) 42%, rgb(65, 28, 206)) 0% 0% / cover; 
  color:white; 
}
.main{
    display:flex;
    flex:1;
    width:100%;
    flex-direction:column;
    justify-content:space-between;
}
header{
    height:50px;
    border-top:1px solid white;
    width:100%;
    background:rgba(255,255,255,0.3);
    display:flex;
    align-items:center;
    font-size:30px;
    justify-content: space-between;
}
header img {
    height: 40px;
    margin: 0px 10px;
}

footer {
    height:48px;
    border-top:1px solid white;
    background:rgba(255,255,255,0.3);
    display:flex;
    position:relative;
    padding:5px 15px;
    margin-top: 12px;
}

footer input{
    width:100%;
    border-radius:20px;
    background:black;
    outline:none;
    color:white;
    font-size:15px;
    padding-left:10px;
    border: 1px solid white;
}

footer button{
    border-radius: 20px;
    height:35px;
    width:35px;
    flex:1;
    outline:none;
    background: white;
    position: absolute;
    top:6px;
    right: 16px;
    border: 1px solid white;
    font-size:15px;
    cursor:pointer;
}

.msg{
  width:100%;
  display: flex;
  font-size: large;
}
.msg-Bubble{
  color:white;
  background: black;
  border-radius:10px;
  border:1px solid grey;
  padding:4px 10px;
  display: inline-block;
  margin:5px;
}

.msg-name{
  font-size: 11px;
  margin-left: 8px;
}

.messages{
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

.pickName{
  margin-right:12px;
  display:flex;
  align-items: center;
}
.pickName svg{
  margin-left:5px;
  cursor: pointer;
}
.pickName svg:hover{
  transform:scale(1.2);
}
.pickName input {
  border-radius:12px;
  outline:none;
  border:1px solid white;
  padding-left:8px;
  background-color: black;
  color: white;
  height: 25px;
  margin-top: 10px;
}

.save{
  margin-top: 10px;
}

.edit{
  margin-top: 8px;
}

.savedName{
  margin-top: 8px;
  font-size: 30px;
  margin-right: 5px;
}